# Python
__pycache__/
*.py[cod]
*.so
.Python
vennv/
env/
ENV/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Database
*.db
*.sqlite

# Flask
instance/
.webassets-cache

# Testing
.pytest_cache/
.coverage

# Project specific
temp/
tmp/
output/